%h2 feeds
%ul
  - %w{html ical atom json txt}.each do |format|
    %li
      %a{ href: url("/events.#{format}") }= format

%sub
  * apply filter e.g.
  %code
    \/events.txt?filter={past|upcoming|today|2013}&streaming={true|false|undefined}