!!!5
%html
  %head
    %title c3voc events
    %link{ href: url('/events.atom'), rel: 'alternate', title: 'Atom - c3voc events', type: 'application/atom+xml' }
    %link{ href: url('/css/fullcalendar.css'), rel: 'stylesheet' }
    %link{ href: url('/css/fullcalendar.print.css'), rel: 'stylesheet', media: 'print' }
    %link{ href: url('/css/style.css'), rel: 'stylesheet' }

  %body
    %h1 c3voc events
    = yield
