!!!5
%html
  %head
    %title c3voc events
    %link{ href: url('/events.atom'), rel: 'alternate', title: 'Atom - c3voc events', type: 'application/atom+xml' }
  %body
    %h1 c3voc events
    = yield